<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <extension point="org.eclipse.ui.commands">
    <command
       description="Starts a new file manager (Windows Explorer, Nautilus, Konqueror...) instance showing the selected files and folders"
       id="de.bastiankrol.startexplorer.startFileManagerFromResourceViewCommand"
       name="Show in file manager">
    </command>
      <category 
        id="de.bastiankrol.startexplorer.commands.category"
        name="StartExplorer"> 
      </category>
  </extension>
  <extension point="org.eclipse.ui.handlers">
    <handler
      commandId="de.bastiankrol.startexplorer.startFileManagerFromResourceViewCommand"
      class="de.bastiankrol.startexplorer.popup.actions.StartExplorerFromResourceHandler">
    </handler>
  </extension>
  <extension point="org.eclipse.ui.bindings">
    <key commandId="de.bastiankrol.startexplorer.startFileManagerFromResourceViewCommand"
         sequence="M1+M3+E"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
    </key>
  </extension>  

  <extension point="org.eclipse.ui.commands">
    <command
      id="de.bastiankrol.startexplorer.startShellFromResourceViewCommand"
      name="Start shell here"
      categoryId="de.bastiankrol.startexplorer.commands.category"
      description="Opens a new shell/command line prompt">
    </command>
  </extension>
  <extension point="org.eclipse.ui.handlers">
    <handler
      commandId="de.bastiankrol.startexplorer.startShellFromResourceViewCommand"
      class="de.bastiankrol.startexplorer.popup.actions.StartCmdExeFromResourceHandler">
    </handler>
  </extension>
  <extension point="org.eclipse.ui.bindings">
    <key commandId="de.bastiankrol.startexplorer.startShellFromResourceViewCommand"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="M1+M3+D">
    </key>
  </extension> 

  <extension point="org.eclipse.ui.commands">
    <command
      id="de.bastiankrol.startexplorer.startSystemApplicationFromResourceViewCommand"
      name="Open files with default application"
      categoryId="de.bastiankrol.startexplorer.commands.category"
      description="Opens this file with the application that is registered for this file type in your operating system">
    </command>
  </extension>
  <extension point="org.eclipse.ui.handlers">
    <handler
      commandId="de.bastiankrol.startexplorer.startSystemApplicationFromResourceViewCommand"
      class="de.bastiankrol.startexplorer.popup.actions.StartSystemApplicationFromResourceHandler">
    </handler>
  </extension>
  <extension point="org.eclipse.ui.bindings">
    <key commandId="de.bastiankrol.startexplorer.startSystemApplicationFromResourceViewCommand"
         sequence="M1+M3+A"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
    </key>
  </extension>

  <extension point="org.eclipse.ui.commands">
    <command
      id="de.bastiankrol.startexplorer.copyResourcePathToClipboardFromResourceView"
      name="Copy resource path to clipboard"
      categoryId="de.bastiankrol.startexplorer.commands.category"
      description="Copies the path of the resource to the clipboard" />
  </extension>
  <extension point="org.eclipse.ui.handlers">
    <handler
      commandId="de.bastiankrol.startexplorer.copyResourcePathToClipboardFromResourceView"
      class="de.bastiankrol.startexplorer.popup.actions.CopyResourcePathToClipboardResourceViewHandler">
    </handler>
  </extension>
  <extension point="org.eclipse.ui.bindings">
    <key commandId="de.bastiankrol.startexplorer.copyResourcePathToClipboardFromResourceView"
         sequence="M1+M3+C"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
    </key>
  </extension>   

  <extension point="org.eclipse.ui.menus">
    <menuContribution
      locationURI="popup:org.eclipse.ui.popup.any?after=additions">
      <menu
        label="StartExplorer"
        id="de.bastiankrol.startexplorer.menuPackageExplorer">
        <visibleWhen>
          <with variable="activeMenuSelection">
            <iterate>
              <adapt type="org.eclipse.core.resources.IResource" />
            </iterate>
          </with>
        </visibleWhen>
        <command
          commandId="de.bastiankrol.startexplorer.startFileManagerFromResourceViewCommand"
          icon="icons/explorer.gif" />
        <command
          commandId="de.bastiankrol.startexplorer.startShellFromResourceViewCommand"
          icon="icons/cmd.exe.gif" />
        <command
          commandId="de.bastiankrol.startexplorer.startSystemApplicationFromResourceViewCommand"
          icon="icons/monitor.gif" />
        <command
          commandId="de.bastiankrol.startexplorer.copyResourcePathToClipboardFromResourceView"
          icon="icons/copy.gif" />
        <separator name="de.bastiankrol.startexplorer.separator.resource"
          visible="true" />
        <menu
          id="de.bastiankrol.startexplorer.menuPackageExplorer.submenuCustomCommands"
          label="Custom Commands">
          <dynamic
            class="de.bastiankrol.startexplorer.customcommands.CustomCommandResourceViewMenuProvider"
            id="de.bastiankrol.startexplorer.CustomCommandPackageExplorerMenuProvider">
          </dynamic>
        </menu>
      </menu>
    </menuContribution>
  </extension>

  <extension point="org.eclipse.ui.commands">
    <command
      id="de.bastiankrol.startexplorer.startFileManageFromEditorCommand"
      name="Start file manager in this path"
      categoryId="de.bastiankrol.startexplorer.commands.category"
      description="Interprets the current text selection as a folder name and starts a file manager showing that file/folder" />
  </extension>
  <extension point="org.eclipse.ui.handlers">
    <handler
      commandId="de.bastiankrol.startexplorer.startFileManageFromEditorCommand"
      class="de.bastiankrol.startexplorer.popup.actions.StartExplorerFromEditorHandler">
    </handler>
  </extension>

  <extension point="org.eclipse.ui.commands">
    <command
      id="de.bastiankrol.startexplorer.startShellFromEditorCommand"
      categoryId="de.bastiankrol.startexplorer.commands.category"
      name="Start shell in this path"
      description="Interprets the current text selection as a folder name and starts opens a new command line prompt" />
  </extension>
  <extension point="org.eclipse.ui.handlers">
    <handler
      commandId="de.bastiankrol.startexplorer.startShellFromEditorCommand"
      class="de.bastiankrol.startexplorer.popup.actions.StartCmdExeFromEditorHandler">
    </handler>
  </extension>

  <extension point="org.eclipse.ui.commands">
    <command
      id="de.bastiankrol.startexplorer.startSystemApplicationFromEditorCommand"
      name="Open in default application"
      categoryId="de.bastiankrol.startexplorer.commands.category"
      description="Interprets the current text selection as a file name and starts the default application registered for that file type" />
  </extension>
  <extension point="org.eclipse.ui.handlers">
    <handler
      commandId="de.bastiankrol.startexplorer.startSystemApplicationFromEditorCommand"
      class="de.bastiankrol.startexplorer.popup.actions.StartSystemApplicationFromEditorHandler">
    </handler>
  </extension>
  
  <extension point="org.eclipse.ui.commands">
    <command
      id="de.bastiankrol.startexplorer.copyResourcePathToClipboardFromEditor"
      name="Copy resource path to clipboard"
      categoryId="de.bastiankrol.startexplorer.commands.category"
      description="Copies the path of the resource to the clipboard" />
  </extension>
  <extension point="org.eclipse.ui.handlers">
    <handler
      commandId="de.bastiankrol.startexplorer.copyResourcePathToClipboardFromEditor"
      class="de.bastiankrol.startexplorer.popup.actions.CopyResourcePathToClipboardEditorHandler">
    </handler>
  </extension>

  <extension point="org.eclipse.ui.menus">
    <menuContribution
      locationURI="popup:org.eclipse.ui.popup.any?after=additions">
      <menu
        label="StartExplorer"
        id="de.bastiankrol.startexplorer.menuEditor">
        <visibleWhen>
          <with variable="activeMenuSelection">
            <instanceof value="org.eclipse.jface.text.ITextSelection" />
          </with>
        </visibleWhen>
        <command
          commandId="de.bastiankrol.startexplorer.startFileManageFromEditorCommand"
          icon="icons/explorer.gif" />
        <command
          commandId="de.bastiankrol.startexplorer.startShellFromEditorCommand"
          icon="icons/cmd.exe.gif" />
        <command
          commandId="de.bastiankrol.startexplorer.startSystemApplicationFromEditorCommand"
          icon="icons/monitor.gif" />
        <command
          commandId="de.bastiankrol.startexplorer.copyResourcePathToClipboardFromEditor"
          icon="icons/copy.gif">
          <visibleWhen>
            <with variable="activeMenuSelection">
              <test property="de.bastiankrol.startexplorer.textSelection.isEmpty" value="false" forcePluginActivation="true" />
            </with>
          </visibleWhen>
        </command>          
        <separator name="de.bastiankrol.startexplorer.separator.string"
          visible="true" />
        <menu
          id="de.bastiankrol.startexplorer.menuEditor.submenuCustomCommands"
          label="Custom Commands">
          <dynamic
            class="de.bastiankrol.startexplorer.customcommands.CustomCommandEditorMenuProvider"
            id="de.bastiankrol.startexplorer.CustomCommandEditorMenuProvider">
          </dynamic>
        </menu>
      </menu>
    </menuContribution>
  </extension>
  
  <extension point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
      id="de.bastiankrol.startexplorer.propertyTester.textSelectionIsEmpty"
      type="org.eclipse.jface.text.ITextSelection"
      namespace="de.bastiankrol.startexplorer.textSelection"
      properties="isEmpty"
      class="de.bastiankrol.startexplorer.TextSelectionPropertyTester">
    </propertyTester>
  </extension>

  <extension point="org.eclipse.ui.preferencePages">
    <page
      id="de.bastiankrol.startexplorer.preferencesPage"
      name="StartExplorer"
      class="de.bastiankrol.startexplorer.preferences.StartExplorerPreferencePage" />
  </extension>

 <extension point="org.eclipse.help.toc">
   <toc file="help/help_toc.xml" primary="true"/>
 </extension>

</plugin>
