body 
{
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #FFFFFF;
  border-color: #CC0000;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 85%;
}
h1, h2, h3, h4, h5, h6
{
  color: #4000A0;
}
h1 
{
  font: bold 1.5em Helvetica,Arial,sans-serif;
}
h2 
{
  font: bold 1.3em Helvetica,Arial,sans-serif;
}
h3
{
  font: bold 1.1em Helvetica,Arial,sans-serif;
}

#content 
{
  margin-left: 13em;
  margin-top: 3ex;
  padding-left: 1em;
  padding-right: 1em;
  min-width: 200px;
}

#leftsidebar 
{
  float: left; 
  width: 13em;
  margin-top : 3ex;
  padding-top: 1ex;
  padding-left: 0;
  padding-right: 0;
}
#leftsidebar ul 
{
  margin: 0; 
  padding: 0;
  border-width: 3px;
  border-color: #4000A0;
  border-style: double;
  background-color: #EEEEEE;
}
#leftsidebar ul[id="navigationbox"] li 
{
  list-style-type: none;
  margin: 0;
  padding: 0.5em;
}
#leftsidebar ul[id="navigationbox"] li a 
{
  display: block;
  padding-top: 0.4ex;
  padding-bottom: 0.4ex;
  font-weight: bold;
}
#leftsidebar ul[id="navigationbox"] li a:link
{
  color: #4000A0; background-color: #EEEEEE;
}
#leftsidebar ul[id="navigationbox"] li a:hover
{
  color: black; background-color: white;
}
#leftsidebar ul[id="navigationbox"] li a:active
{
  color: white; background-color: gray;
}
